@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

$bg-color: #D9D9D9;
$small-font: 1.4vw;

%styled-font {
  font-family: 'Acme', sans-serif;
}


body, html {
  background-color: $bg-color;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
}

header, form label, h3 {
  @extend %styled-font;
}

header {
  p {
    font-size: $small-font;
  }
}


label {
  font-size: $small-font;
}


h1 {
  font-size: 5vw;
  color: #4484CE;
}

h2 {
  font-size: 2vw;
}

img {
  margin: auto;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  text-indent: 5px;
}

li {
  border-bottom: 2px solid #555;
}

section * {
  padding: 0 2px;
}

span {
  font-weight: bold;
}

section > p {
  text-align: center;
  font-style: italic;
  margin-top: 0.3em;
}

.yelp {
  height: 75px;
  padding-bottom: 3px;
}

.movies {
  height: 150px;
}

.column-container {
  display: flex;

  section {
    display: inline-block;
    width: 100%;
    border-style: groove;
    margin: 5px;
    background-color: #FFF;
  }
}

.query-placeholder, form, header, h3 {
  text-align: center;
}